/*
  Styles for global pokedex
*/

.global-title {
  text-align: center;
  color: white;
  font-size: 30px;
  letter-spacing: 0.5em;
  text-shadow: 0 0 10px black;
}

.block-title {
  font-weight:normal;
  text-align: center;
  color: white;
}

.global-slogan {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 0 0 8px black;
}

.views-view-grid {
    margin: 0px auto;
}

// heading block for pokemon
#block-block-2 {
  .header-btn {
    border-radius: 0;
    background: 0;
    border: 1px solid #FFF;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 17px;
    padding: 6px 100px 8px;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    &:hover {
      background-color: #434343;
      border: 1px solid rgba(0, 0, 0, 0);
    }
  }
}