/*
  Styles for pokemon content type.
*/
.node-pokemon {

  &.view-mode-full {

    .field-name-field-quick-move,
    .field-name-field-charge-move {

      .node-pokemon-move {
        margin-bottom: 1em;

      }

    }

  }

}

.field-name-field-type {
  display:            table;
  table-layout:       fixed;
  width:              100%;
  //margin:             0 auto;

  div {
    display:            table-cell;
  }
}

.field-name-type-color-label {
  //border:             1px solid;
  //-moz-border-radius: 15px;
  //border-radius:      5px;
  //box-shadow:         grey 1em 1em 1em;
  -webkit-gradient:   grey 1em 1em 1em;
  -moz-linear-gradient: grey 1em 1em 1em;
  text-align:         center;
  width: 100%;
  position:relative;
  font-family: 'texgyreadventorregular';
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 17px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
}