/*
  Styles for pokemon content type.
*/
.node-pokemon {

  &.view-mode-full {

    .field-name-field-quick-move,
    .field-name-field-charge-move {

      .node-pokemon-move {
        margin-bottom: 1em;

      }
    }
  }
}

/*
  for top left group section (number) to make it float over image
*/
.group-top-left {
  display: inline-block;
  position: relative;
}

/*
  for top left group section (number) to make it float over image
*/
.number-pos {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
}

/*
  style for pokemon name and card heading
*/
.card-title {
  margin:14px 0 0;
  letter-spacing:3px;
  font-size:22px;
}
