/*
  Styles for pokedex page content.
*/

.global-title {
  text-align: center;
  color: white;
  font-size: 30px;
  letter-spacing: 0.5em;
}

.block-title {
  font-weight:normal;
  text-align: center;
}

.global-body {
  text-align: center;
  margin: 0;
  text-shadow: 0 0 13px black;
}

.global-slogan {
  text-align: center;
  margin: 0;
  color: white;
}

.views-view-grid {
    margin: 0px auto;
}
