/*
  for type div section
*/
.field-name-field-type {
  display: table;
  table-layout: fixed;
  width: 100%;

  div {
    display: table-cell;
  }
}

/*
  for type div section
*/
.field-name-type-color-label {
  text-align: center;
  width: 100%;
  position:relative;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 17px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
}